{
    "ownerIds"        : [<strings array of admins>],
    "homeGuildChannels"  :
    [
        {
            "guild": <guild ID of home>,
            "channel": <channel ID of home>
        }
    ],
    "loginId"         : "<auth token>"
}
